html {
	min-width:900px;
	min-height:500px;
	width:100%;
	height:100%;
	margin:0 auto;
	padding:0;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

body {
	min-width:900px;
	min-height:500px;
	width:100%;
	height:100%;
	margin:0 auto;
	padding:0;
}

a {
	text-decoration:none;
}

ul {
	list-style-type:none;
	margin:0 auto;
	padding:0px;
}

.Header {
	width:100%;
	height:96px;
	background:#D0A674;
	font-size:2.5em;
	font-weight:bold;
	border-bottom:solid;
	border-color:#9C9277;
}

.Title {
	display:table-cell;
	text-align:right;
	//float:left;
	font-size:1.5em;
}

.Title2 {
	display:table-cell;
	//float:left;
	font-size:.5em;
	//text-align:bottom;
	color:#405161;
}

.NavPanel {
	display:table-cell;
	min-width:255px;
	height:100%;
	border-right:solid;
	border-color:#9C9277;
	background:#405161;
}

.Menu {
	width:90%;
	margin:0 auto;
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:5px;
}

.SubMenu {
	width:90%;
	margin:0 auto;
	font-size:.8em;
	font-weight:bold;
}

.SubSubMenu {
	width:90%;
	margin:0 auto;
	margin-top:-3px;
	font-size:.8em;
	font-weight:bold;
	background:#ffffff;
	border:solid;
	border-color:#9C9277;
	border-radius:5px;
}

.MenuItem {
	background:#F4C670;
	border:solid;
	border-color:#9C9277;
	border-radius:5px;
	margin:5px 0px 0px 0px;
	cursor:pointer;
	text-align:center;
 	-khtml-user-select: none;
	-moz-user-select: none;
 	-ms-user-select: none;
  	user-select: none;
 	-webkit-touch-callout: none;
 	-webkit-user-select: none;
}

.MenuItem:hover {
	background:#E3B569;
}

.MenuItem2 {
	padding-left:5px;
	background:#ffffff;
	cursor:pointer;
	text-align:left;
}

.MenuItem2:hover {
	background:#000000;
	color:#ffffff;
}

.Hidden {
	display:none;
}

.ContentPanel {
	width:75%;
	height:100%;
	display:table-cell;
	background:#7AF;
}

.Content {
	width:100%;
	display:table;
}

.Footer {
	width:100%;
	height:96px;
	background:#D0A674;
	font-size:2.5em;
	font-weight:bold;
	line-height:96px;
	border-top:solid;
	border-color:#9C9277;
	float:left;
}

.Logo {
	width:64px;
	height:64px;
	margin:16px 0px 0px 0px;
	background-image:url("logo.png");
	float:left;
}

.AWSLogo {
	width:103px;
	height:100px;
	margin:-4px 10px 0px 0px;
	background-image:url("awslogo.png");
	float:right;
	cursor:pointer;
}

#subHeader {
	width:550px;
	margin:0 auto;
	display:table;
}

.SearchForm {
	background:#F4C670;
	border:solid;
	border-color:#9C9277;
	border-radius:5px;
	margin:5px 0px 0px 0px;
	text-align:center;
}
.SearchBar {
    color:#AAAAAA;
}

.SearchButton {
	width:64px;
	height:64px;
	background:none;
	border:none;
	background-image:url("search.png");
	cursor:pointer;
}

.Tree {
	width:90%;
	margin:0 auto;
	height:300px;
	background:#ffffff;
	border-left:solid;
	border-right:solid;
	border-bottom:solid;
	border-radius:0px 0px 5px 5px;
	border-color:#9C9277;
	overflow:auto;
 	-khtml-user-select: none;
	-moz-user-select: none;
 	-ms-user-select: none;
  	user-select: none;
 	-webkit-touch-callout: none;
 	-webkit-user-select: none;
}

.Node {
	width:100%;
	margin-left:10px;
	cursor:pointer;
}

.NodeTitle {
	background:#ffffff;
	color:#000000;
}

.NodeTitle:hover {
	background:#000000;
	color:#ffffff;
}

.Leaf {
	background:#ffffff;
	color:#000000;
}

.Leaf:hover {
	background:#000000;
	color:#ffffff;
}

.TreeIndicator {
	float:left;
	width:16px;
	height:16px;
	line-height:16px;
	margin:2px 5px 0px 0px;
	background-image:url("folder.png");
	text-align:center;
}

.LeafIcon {
	float:left;
	width:16px;
	height:16px;
	margin:2px 5px 0px 0px;
	background-image:url("file.png");
	text-align:center;
}

.api1_0Header {
	width:100%;
	margin:0 auto;
}

.api1_0Title1 {
	color:#ffffff;
	font-size:2em;
	text-align:center;
	background:#405161;
	border-left:solid;
	border-top:solid;
	border-right:solid;
	border-radius:5px 5px 0px 0px;
	border-color:#9C9277;
	margin:0px 5px 0px 5px;
}

.api1_0Title2 {
	font-size:1.5em;
	text-align:center;
	background:#D0A674;
	border-left:solid;
	border-right:solid;
	border-color:#9C9277;
	margin:0px 5px 0px 5px;
}

.api1_0Title3 {
	font-size:1.2em;
	text-align:center;
	background:#D0A674;
	border-left:solid;
	border-bottom:solid;
	border-right:solid;
	border-color:#9C9277;
	border-radius:0px 0px 5px 5px;
	margin:0px 5px 10px 5px;
}

.CollapseableTitle {
	font-size:1.5em;
	font-weight:bold;
	background:#F4C670;
	border:solid;
	border-radius:5px;
	border-color:#9C9277;
	margin:0px 5px 0px 5px;
	padding-left:5px;
	cursor:pointer;
 	-khtml-user-select: none;
	-moz-user-select: none;
 	-ms-user-select: none;
  	user-select: none;
 	-webkit-touch-callout: none;
 	-webkit-user-select: none;
}

.CollapseableTitle:hover {
	background:#E3B569;
}

.CollapseableContent {
	background:#dddddd;
	margin:0px 10px 0px 10px;
	border-left:solid;
	border-right:solid;
	border-bottom:solid;
	border-radius:0px 0px 5px 5px;
	border-color:#9C9277;
	padding:5px;
}

.TextTitle {
	font-weight:bold;
}

.IndentedText {
	padding-left:25px;
	background:#ffffff;
	border-radius:0px 0px 5px 5px;
}